<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form-group">
        <label for="content">Thought for the day !</label>
      </div>
      <button class="btn btn-primary" (click)="onGetThought()">
          get today's thought
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3" *ngIf="isFetching">
      <p>Loading...</p>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3" *ngIf="!isFetching">
      <p>{{todaysThought.thought}}</p>
      <p>- {{todaysThought.author}}</p>
    </div>
  </div>
  <hr />
</div>
